TELEGRAM_BOT_TOKEN="your_telegram_bot_token_from_botfather"
GENAI_API_KEY="your_google_ai_studio_api_key"
TAVILY_API_KEY="your_tavily_api_key"

DB_USER="user"
DB_HOST="host"
DB_PORT="port"
DB_NAME="name"
DB_PASSWORD="password"